*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.screen{
    display: flex;
    height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
    max-width: 500px;
    height: auto;
}
.rightside{
    width: 400px;
    background-color: #CCCCCC;
    padding: 50px;
}
.rightside label{
    display: block;
    margin-bottom: 15px;
}
.rightside input{
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0 /*remove a borda de marcação do input*/
}

.error{
    font-size: 11px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px ;
}
